/* Step 1*/

#logo{
    animation: mymove 5s;
}

@keyframes mymove{
    0% {width: 25px; opacity: 0;}
    100% {width: 475px;; opacity: 1;}
}

/* Step 2 - Default mode */

body{
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

/* Step 3 */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Step 4 */

.nav_links{
    display: flex;
    flex-direction: column;
}

/* Step 5 */

a{
    color: blue;
}

/* Step 6 */

.card{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.card > header{
    background: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

/* Step 7 */

.card{
    flex-basis: 450px;
    /* flex-direction: column; */
}

/* Step 8 */

.pricing{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Step 9 */

.gallery > img{
    border: 10px solid #50c7c7;
    margin: 10px 10px 10px 10px;
    width: 300px;
}


/* Step 10 */

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Screen-size is greater than 900px */

/* Step 11, 12, 13 */

@media only screen and (min-width: 900px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links{
        flex-direction: row;
    }

    .card{
        flex-basis: 275px;
    }

    .pricing{
        justify-content: center;
        align-items: center;
    }

    body > header:first-of-type{
        top: 0px;
        position: sticky;
        width: 100%;
    }

}

/* Step 14 */
/* if prefers-reduced-motion is selected */

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation: none;
    }
  }

/* Step 15, 16, 17, 18, 19, 20, 21 */
/* in print mode */

@media print{
    body{
      font-family: Arial, Helvetica;
      background-repeat: none;
    }

    .nav_links{
        flex-direction: row;
        justify-content: space-around;
    } 

    nav{
        width: 100%;
    }

    .card{
        border: 2px #45ADDD solid;
        flex-basis: 325px;
    }

    #gallery, .gallery{
        display: none;
    }

    .pricing{
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    .card li:nth-child(2):after{
        content: '\1F44D'
    }
  }
